<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <add key="BackGroundColor.R" value="0"/>
    <add key="BackGroundColor.G" value="0"/>
    <add key="BackGroundColor.B" value="0"/>
    <add key="Font" value="[Font: Name=Microsoft YaHei, Size=15,75, Units=3, GdiCharSet=204, GdiVerticalFont=False]"/>
    <add key="ForeColor.R" value="0"/>
    <add key="ForeColor.G" value="0"/>
    <add key="ForeColor.B" value="0"/>
    <add key="Window.Height" value="0"/>
    <add key="Window.Width" value="0"/>
    <add key="Window.State" value="Normal"/>
    <add key="X" value="0"/>
    <add key="Y" value="0"/>
    
    
  </appSettings>
</configuration>